.content {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.h2 {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    padding: 0 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0 20px;
}

.card-list {
    margin-top: 40px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
    justify-items: center;
    align-items: stretch;
    padding: 0 30px;
  }

.col {
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (max-width: 768px) {
    .row {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 30px;
    }
    .container {
        height: auto;
    }
    .content {
        padding: 30px 0;
    }
    
  }
  
  @media (max-width: 576px) {
    .row {
      grid-template-columns: 1fr;
      gap: 20px 30px;
    }
  }
