<div class="content">
  <div class="container">
    <h1>UI & UX Design</h1>
    <p class="h2">
      We bring value to your business by producing seamless, multi-platform digital experiences that result in strong,
      <br>meaningful user engagements. Read more about our services below.
    </p>
    
    <div class="card-list">
      <div class="row">
        <div class="col" *ngFor="let card of cardUiList">
          <app-card [card]="card"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
