<div class="content">
  <div class="container">
    <h1>UI & UX Design</h1>
    <p class="h2">
      We bring value to your business by producing seamless, multi-platform digital experiences that result in strong,
      <br>meaningful user engagements. Read more about our services below.
    </p>
    
    <div class="card-list">
      <div class="row">
        <div class="col" *ngFor="let card of cardUiList">
          <article class="card">
            <img class="card-img" [src]="card.img" alt="{{ card.label }} image" loading="lazy" role="img"/>
            <div class="card-body">
              <span class="label">{{ card.label }}</span>
              <h3 class="header">{{ card.header }}</h3> 
              <p class="description">{{ card.description }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
