<div class="content">
  <div class="container">
    <h1>Development & Integration</h1>
    <p class="h2">
      Our development and integration services cater to organisations looking at digital transformation and Industry 4.0.
      <br>Let’s work together to realise your business goals today.
    </p>
    
    <div class="card-list">
      <div class="row">
        <div class="col" *ngFor="let card of cardDevList">
          <app-card [card]="card"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
